{% extends "basic_app/base.html" %}
{% load static %}

{% block body_block %}

  <h1><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
</svg>Your groups</h1>

 {% if association %}
 {% for a in association %}
 {% ifequal user.username a.username %}
 <div class="card bg-success" align="center" style="width:500px">
 <form action="{% url 'basic_app:load_quiz'%}" method="post">
   {% csrf_token %}
   <h2>{{a.group_name}}</h2>
   <br><br>
   <input type="hidden" name="gid" value="{{a.groupID}}">
   <input type="submit" class="btn btn-outline-light text-dark" name="" value="View Discussions">
 </form>
<br><br>
 <form action="{% url 'basic_app:add_member'%}" method="post">
   {% csrf_token %}
   <input type="hidden" name="gid" value="{{a.groupID}}">
   {% ifequal a.isAdmin "true" %}
   <input type="submit" class="btn btn-outline-light text-dark" name="" value="Add member">
   {% endifequal %}
 </form>

 <br><br>
  <div align="left">
      <h4>Members:</h4>
  <form action="{% url 'basic_app:delete_user_from_group'%}" method="post">
    {% csrf_token %}
  {% for b in association %}
  {% ifequal a.groupID b.groupID %}
    {% ifnotequal b.username user.username %}
   <br><input type="checkbox" name="{{b.username}}" value="{{b.username}}">{{b.username}}
   {% endifnotequal %}
   <input type="hidden" name="gid" value="{{a.groupID}}">
   {% endifequal %}
   {% endfor %}
   {% ifequal a.isAdmin "true" %}
  <br><input type="submit" class="btn btn-outline-light text-dark" name="" value="Delete member">
   {% endifequal %}
  </form>

  <form action="{% url 'basic_app:delete_group'%}" method="post">
    {% csrf_token %}
    <input type="hidden" name="gid" value="{{a.groupID}}">
   {% ifequal a.isAdmin "true" %}
  <input type="submit" class="btn btn-outline-light text-dark float-right" name="" value="Delete Group">
   {% endifequal %}
  </form>




  </div>
  </div>
{% endifequal %}
<p></p>
 {% endfor %}

 {% else %}
   <p>No access record found.</p>
 {% endif %}
{{insert_me}}
{% endblock %}
